# --- Node ---
**/node_modules/
**/.next/
**/.turbo/

# --- Maven ---
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# --- Docker ---
**/*.log
**/.env
**/docker-volume/
**/.docker/

# --- IDE & OS ---
**/.idea/
**/.vscode/
**/*.iml
.DS_Store
Thumbs.db
